body {
  margin: 0;
  width: 100%;
  background: linear-gradient(#f7fcfa, #cbccc6);
  font-family: "Roboto Condensed", sans-serif;
  overscroll-behavior: none;
  font-size: 62.5%;
}
main {
  margin: auto;
  min-height: 100%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin: 0;
}
header {
  padding: 80px 0 60px 0;
}
footer {
  width: 100%;
  min-height: 200px;
}
.container {
  margin: auto;
  max-width: 1400px;
  padding: 0 40px;
}
