html {
  background: #cbccc6;
}
body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(#f7fcfa, #cbccc6);
  font-family: "Roboto Condensed", sans-serif;
  overscroll-behavior: none;
  overflow: hidden;
}
* {
  -webkit-user-drag: none;
}
.page {
  transition: opacity 1s ease-out, clip-path 0.5s ease-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 1;
  overflow: auto;
  max-height: 100vh;
}
.page[loading] {
  opacity: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
main {
  margin: auto;
  min-height: 100vh;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin: 0;
}

.container {
  margin: auto;
  max-width: 1400px;
  padding: 0 60px;
  z-index: 1;
}

strong {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  nida-chat {
    display: none;
  }
}

footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
