html {
  background: #cbccc6;
}
body {
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(#f7fcfa, #cbccc6);
  font-family: "Roboto Condensed", sans-serif;
  overscroll-behavior: none;
  transition: opacity 1s ease;
}
body[loading] {
  opacity: 0;
}
.page {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
}
main {
  margin: auto;
  min-height: 100%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin: 0;
}
header {
  padding: 0;
  position: relative;
}
.stage-background {
  background: #e2e5e1;
  margin-bottom: -40px;
}
.stage-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  margin: auto;
  max-width: 1400px;
  padding: 0 60px;
}
.stage-caption {
  margin-top: 100px;
  margin-left: 100px;
  padding: 40px;
  max-width: 900px;
}
.scroll-indicator {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
footer {
  width: 100%;
  min-height: 100px;
}
